html {
  box-sizing: border-box;
  color: $c-black;
  font: {
    family:  'Montserrat', sans-serif;
    size: 16px;
  }
  text-rendering: optimizeLegibility;
}

* {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  margin:0;
  padding:0;
  &:focus {
    outline: none;
  }
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: $c-white;  
}

html,
body,
.container {
height: 100%;
}

.container {
width: 100%;
max-width: 1440px;
padding: 0 16px;
margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
li {
  border: 0;
  margin: 0;
}

main {
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;    
}


button {
  cursor: pointer;
}

.btn-cancelar {
  background-color: $c-cancel-button;
}

.btn-salvar {
  background-color: $c-save-button;
}

.swal2-actions{
  .swal2-confirm {
    background-color: $c-green!important;
  }
}

section {
padding: 0 16px;
}


.slick-slider  {
  padding: 0 30px;
}
.slick-initialized {

  .slick-prev {
    left: 0;
  }
  .slick-next {
    right: 0;
  }

  .slick-track {
    padding: 0 20px;
  }
  .slick-slide {
    max-width: 450px;
  }
}  

input {
  border: 1px solid $c-black;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  margin-bottom: 16px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  button {
    font-size: 16px;
    width: 180px;
    padding: 10px;
    color: $c-white;
  }
}