$c-dark-grey: #333333;
$c-bg-blue: #0C3455;
$c-font-blue:#363F5F;
$c-green: #8DC63F;
$c-gray-background: #e7e7e7; 
$c-cancel-button: #d99595;
$c-save-button: #44588b;
$c-blue-sky: #62a1e2;

$c-black: #000;
$c-white: #fff;