.account {
  display: flex;
  flex-direction: column;
  background-color: $c-gray-background;
  width: 100%;
  max-width: 1600px;
  padding-bottom: 30px;

  h1 {
    font-size: 50px;
    margin-top: 80px;
  }
}