.home {
  display: flex;
  flex-direction: column;
  background-color: $c-gray-background;
  width: 100%;
  max-width: 1600px;
  padding-bottom: 30px;

  .title {
    font-size: 40px;
    margin: 60px 0;
    margin-left: 30px;
  }

  &__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    
    @media (min-width: 1024px) {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 34px;
      justify-content: space-around;
    }
  }

  &__banner {
    img {
      width: 100%;
    }
  }


  &__trails {
    background-color: #0d1d2c;
    width: 100%;
    margin: auto;
    margin-top: 180px;
    padding-bottom: 50px;
  }
}